# ignore everything in the root except the "wp-content" directory.


# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes

# htaccess
/.htaccess

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sqlite

# ignore files in the "wp-profile-listing" directory:
wp-content/plugins/wp-profile-listing/tests/
wp-content/plugins/wp-profile-listing/bin/
wp-content/plugins/wp-profile-listing/.distignore
wp-content/plugins/wp-profile-listing/.editorconfig
wp-content/plugins/wp-profile-listing/.phpcs.xml.dist
wp-content/plugins/wp-profile-listing/.travis.yml
wp-content/plugins/wp-profile-listing/Gruntfile.js
wp-content/plugins/wp-profile-listing/package.json
wp-content/plugins/wp-profile-listing/phpunit.xml.dist
wp-content/plugins/wp-profile-listing/.gitignore